<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.androsz.flatnote" android:versionCode="0"
	android:sharedUserId="com.androsz.flatnote" android:versionName="Acura">

	<uses-sdk android:minSdkVersion="11" android:targetSdkVersion="11" />

	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.BILLING" />
	<uses-permission android:name="android.permission.CAMERA" />

	<supports-screens android:smallScreens="false"
		android:normalScreens="false" android:largeScreens="false"
		android:xlargeScreens="true" />

	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:hardwareAccelerated="true">

		<!-- NotebooksActivity -->
		<activity android:name=".app.NotebooksActivity" android:label="@string/app_name"
			android:configChanges="orientation">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<!-- NoteActivity -->
		<activity android:name=".app.NotebookActivity" android:label="Notebook" />

		<!-- NoteActivity -->
		<activity android:name=".app.NoteActivity" android:label="Note" />

		<!-- CameraSample -->
		<activity android:name="app.CameraActivity" android:label="Take a snapshot" />

		<!-- TouchPaint -->
		<activity android:name=".handwriting.TouchPaint"
			android:label="Draw" />

		<!-- NewNotebookDialog  -->
		<activity android:name=".app.NewNotebookDialog"
			android:label="Create New Notebook" />
			
		<!-- ColorPickerDialog  -->
		<activity android:name=".app.ColorPickerDialog"
			android:label="@string/pick_a_color" />

		<!-- SettingsActivity -->
		<activity android:name=".app.SettingsActivity" android:label="Settings" />
	</application>
</manifest>