<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.androsz.flatnote" android:versionCode="0"
	android:sharedUserId="com.androsz.flatnote" android:versionName="TL">

	<uses-sdk android:minSdkVersion="11" android:targetSdkVersion="11" />

	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.BILLING" />
	<uses-permission android:name="android.permission.CAMERA" />

	<supports-screens android:smallScreens="false"
		android:normalScreens="false" android:largeScreens="false"
		android:xlargeScreens="true" />

	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:hardwareAccelerated="true" android:theme="@style/Theme">

		<!-- HomeActivity -->
		<activity android:name=".app.HomeActivity" android:label="@string/app_name"
			android:configChanges="orientation">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<!-- NotebookActivity -->
		<activity android:name=".app.NotebookActivity" android:label="@string/notebook" />

		<!-- NoteActivity -->
		<activity android:name=".app.NoteActivity" android:label="@string/note" />

		<!-- TouchPaint -->
		<activity android:name=".handwriting.TouchPaint"
			android:label="Draw" />

		<!-- NewNotebookDialog -->
		<activity android:name=".app.NewNotebookDialog"
			android:label="@string/create_a_new_notebook" />

		<!-- EditNotebookDialog -->
		<activity android:name=".app.EditNotebookDialog"
			android:label="@string/edit_name_and_color" />

		<!-- ColorPickerDialog -->
		<activity android:name=".app.ColorPickerDialog"
			android:label="@string/pick_a_color" />

		<!-- SettingsActivity -->
		<activity android:name=".app.SettingsActivity" android:label="@string/settings" />
		
		<!-- Notebooks$Provider -->
        <provider android:name=".db.Notebooks$Provider"
                  android:authorities="com.androsz.flatnote.db.Notebooks" />
	</application>
</manifest>